.top-margin-10{
    margin-top: 10px;
}

.top-margin-15{
    margin-top: 15px;
}

.background-color-blue{
    background-color: #0074D9;
}

.background-color-navy{
    background-color: #001f3f;
}

.background-color-aqua{
    background-color: #7FDBFF;
}