<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewpoint" content="width=device-width,initial-scale=1"/>
    <title>留言板</title>
    <link href="/msgboard/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/msgboard/css/msgboard.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron">
        <h1>对不起，出现问题</h1>
        <p>可能是您访问的页面不存在</p>
        <p>请点击按钮返回首页</p>
        <p><a class="btn btn-primary btn-lg" href="/msgboard" role="button">返回首页</a></p>
    </div>
</div>
</body>
<script src="/msgboard/js/jquery-3.2.1.js"></script>
<script src="/msgboard/js/bootstrap.js"></script>
<script src="/msgboard/js/msgboard.js"></script>
</html>